.post {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .postWrapper {
    display: flex;
    flex-direction: row;

    .postUserSection {
      margin-right: 12px;
      width: 40px;

      .postUserImage {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 20px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }

        .postShade {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          position: absolute;
          top: 0;
          left: 0;

          &:hover {
            background-color: rgba(26, 26, 26, 0.15);
          }
        }
      }
    }

    .postBody {
      display: flex;
      flex-direction: column;
      width: 100%;

      .postMeta {
        display: flex;
        flex-direction: row;

        .postDate {
          color: rgb(83, 100, 113);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .postImageSection {
        display: inline-block;
        margin-top: 12px;
        width: 100%;
        border-radius: 16px;

        &.oneImage {
          max-height: 510px;
          background-repeat: no-repeat;

          img {
            border-radius: 16px;
            max-height: 510px;
            width: 100%;
          }
        }

        &.twoImage {
          height: 272px;
          display: flex;
          flex-direction: row;
          gap: 2px;

          a {
            flex: 1;

            &:first-child {
              border-top-left-radius: 16px;
              border-bottom-left-radius: 16px;
            }

            &:last-child {
              border-top-right-radius: 16px;
              border-bottom-right-radius: 16px;
            }
          }
        }

        &.threeImage {
          height: 272px;
          display: flex;
          flex-direction: row;
          gap: 2px;

          > a,
          > div {
            flex: 1;
          }

          > div {
            display: flex;
            flex-direction: column;
            gap: 2px;

            > a {
              flex: 1;

              &:first-child {
                border-top-right-radius: 16px;
              }

              &:last-child {
                border-bottom-right-radius: 16px;
              }
            }
          }

          > a:first-child {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
          }
        }

        &.fourImage {
          height: 272px;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          gap: 2px;

          > a {
            &:nth-child(1) {
              border-top-left-radius: 16px;
            }

            &:nth-child(2) {
              border-top-right-radius: 16px;
            }

            &:nth-child(3) {
              border-bottom-left-radius: 16px;
            }

            &:nth-child(4) {
              border-bottom-right-radius: 16px;
            }
          }
        }
      }
    }
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 4px;
  margin-top: 12px;

  svg {
    fill: rgb(83, 100, 113);
  }

  .count {
    font-size: 13px;
    color: rgb(83, 100, 113);
  }

  .commentButton,
  .repostButton,
  .heartButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      background: #ffffff;
      border: none;
      outline: none;
      display: flex;
      width: 38px;
      height: 38px;
      align-items: center;
      justify-content: center;
      border-radius: 19px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.2s;
      margin-right: 4px;
    }
  }

  .commentButton {
    button {
      background-color: rgba(29, 155, 240, 0.01);
    }

    &:hover button {
      background-color: rgba(29, 155, 240, 0.1);
    }

    &.commented svg,
    &:hover svg {
      fill: rgb(29, 155, 240);
    }

    &.commented .count,
    &:hover .count {
      color: rgb(29, 155, 240);
    }

    &.white svg,
    &.white .count {
      fill: white;
      color: white;
    }
  }

  .repostButton {
    button {
      background-color: rgba(0, 186, 124, 0.01);
    }

    &:hover button {
      background-color: rgba(0, 186, 124, 0.1);
    }

    &.reposted svg,
    &:hover svg {
      fill: rgb(11, 175, 123);
    }

    &.reposted .count,
    &:hover .count {
      color: rgb(11, 175, 123);
    }

    &.white svg,
    &.white .count {
      fill: white;
      color: white;
    }
  }

  .heartButton {
    button {
      background-color: rgba(249, 24, 128, 0.01);
    }

    &:hover button {
      background-color: rgba(249, 24, 128, 0.1);
    }

    &.liked svg,
    &:hover svg {
      fill: rgb(228, 34, 126);
    }

    &.liked .count,
    &:hover .count {
      color: rgb(228, 34, 126);
    }

    &.white svg,
    &.white .count {
      fill: white;
      color: white;
    }
  }
}
